HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/templates/fragments/footer.html
/src/main/generated/com/shop/entity/QMember.java
/src/main/generated/com/shop/entity/QBaseEntity.java
/src/main/generated/com/shop/entity/QBaseTimeEntity.java
/src/main/generated/com/shop/entity/QCart.java
/src/main/generated/com/shop/entity/QCartItem.java
/src/main/generated/com/shop/entity/QOrder.java
/src/main/generated/com/shop/entity/QOrderItem.java
/src/main/generated/com/shop/entity/QItemImg.java
/src/main/generated/com/shop/dto/QMainItemDto.java
/src/main/generated/com/shop/entity/QCategory.java
/src/main/generated/com/shop/entity/QMessage.java
/src/main/generated/com/shop/entity/QUser.java

# ignore properties file
application-oauth.properties