<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.gsitm.intern.test.mybatis.mybatis2JPA.TestMemberMapper">
    <select id = "memberListAll" resultType = "com.gsitm.intern.test.mybatis.mybatis2JPA.TestMemberDto">
        select * from member;
    </select>
</mapper>
