<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>회원가입 페이지</title>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

        // function sendAuthCode(){
        //     //POST방식 데이터 전송에 필요한 CSRF 토큰 값 조회
        //     var token = $("meta[name='_csrf']").attr("content");
        //     var header = $("meta[name='_csrf_header']").attr("content");
        //
        //     var url = "/members/signUpEmail";
        //     // var paramData = { //주문할 상품의 아이디와 주문 수량 데이터를 전달할 객체 생성
        //     //     email : $("#email").val()
        //     // };
        //
        //     // var param = JSON.stringify(paramData);  //서버에 보낼 주문 데이터를 json으로 변경
        //
        //     $.ajax({
        //         url      : url,
        //         type     : "POST",
        //         data: {
        //             email : $("#email").val()
        //         },
        //         beforeSend : function(xhr){
        //             /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
        //             xhr.setRequestHeader(header, token);
        //         },
        //         cache   : false,
        //         success  : function(result, status){
        //             console.log(result);
        //             alert("이메일로 인증코드가 전송되었습니다.");
        //         },
        //         error: function() {
        //             console.log(arguments);
        //         }
        //     });
        // }
    </script>

</th:block>

<div layout:fragment="content">

    <form action="/members/new" role="form" method="post"  th:object="${memberFormDto}">
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력해주세요">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="email">이메일주소</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
<!--            <button type="button" class="btn btn-primary btn-lg" onclick="sendAuthCode()">이메일 인증</button>-->
        </div>
<!--        <div class="form-group">-->
<!--            <label th:for="email">인증 코드</label>-->
<!--            <input type="code" th:field="*{code}" class="form-control" placeholder="인증코드를 입력해주세요">-->
<!--            <p th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="fieldError">Incorrect data</p>-->
<!--        </div>-->
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호 입력">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" th:field="*{address}" class="form-control" placeholder="주소를 입력해주세요">
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="phone">휴대폰 번호</label>
            <input type="text" th:field="*{phone}" class="form-control" placeholder="휴대폰 번호를 입력해주세요">
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError">Incorrect data</p>
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="">회원가입</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <!--스프링 시큐리티는 기본적으로 POST 방식의 데이터 전송에는 CSRF 토큰 값이 있어야 함
            실제 서버에서 허용한 요청이 맞는지 확인하기 위한 Token-->
    </form>

</div>

</html>