<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<title>Spring Boot Unknown Error PAGE</title>

<body>
<h1>기본 에러 페이지 입니다.</h1>
<div>
    status : <span th:text="${status}"></span>
</div>
<div>
    path : <span th:text="${path}"></span>
</div>
<div>
    error : <span th:text="${error}"></span>
</div>
<div>
    timestamp : <span th:text="${timestamp}"></span>
</div>
<div>
    message : <span th:text="${message}"></span>
</div>
<div>
    exception : <span th:text="${exception}"></span>
</div>
<div>
    trace : <span th:text="${trace}"></span>
</div>
</body>

</html>