<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutGlobal}">

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function() {
                $("#searchBtn").on("click",function(e) {
                    e.preventDefault();

                    page(0);
                });
            });

            function page(page) {
                var searchQuery = $("#searchQuery").val();

                location.href = "/admin/bids/" + page + "?searchQuery=" + searchQuery;
            }
        </script>
    </th:block>

    <div layout:fragment="content">
        <h2>역경매 결제 관리</h2>
        <form th:action="@{'/admin/bids/' + ${reverseAuctionDtoList.number}}" method="GET" th:object="${reverseAuctionDtoList}">
            <table class="rauction-table table">
                <thead>
                    <tr>
                        <th>상품 정보</th>
                        <th>신청자</th>
                        <th>결제 방법</th>
                        <th>신청일</th>
                        <th>상태</th>
                        <th>입금 확인</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reverseAuction, status: ${reverseAuctionDtoList.getContent()}">
                        <td>
                            <span class="rauction-table-img" th:style="'background-image: url(' + ${reverseAuction.imgUrl} + ')'"></span>
                            <span class="rauction-table-name" th:text="${reverseAuction.itemNm}"></span>
                        </td>
                        <td th:text="${#numbers.formatCurrency(reverseAuction.startPrice)}"></td>
                        <td th:if="${reverseAuction.approvedYn != 'F'}" th:text="${#numbers.formatCurrency(reverseAuction.discountDto.currentPrice)}"></td>
                        <td th:if="${reverseAuction.approvedYn == 'F'}"></td>
                        <td th:if="${reverseAuction.approvedYn == 'Y'}">낙찰</td>
                        <td th:if="${reverseAuction.approvedYn == 'F'}">실패</td>
                        <td th:if="${reverseAuction.approvedYn == 'N'}">진행중</td>
                        <td style="width: 150px">
                            <span th:if="${reverseAuction.approvedYn == 'N'}">
                                <a th:href="@{/admin/rauction/__${reverseAuction.id}__}" class="btn btn-primary">수정</a>
                                <a th:href="@{/admin/rauction/__${reverseAuction.id}__/delete}" class="btn btn-danger btn-delete">삭제</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:with="start=${(reverseAuctionDtoList.number/maxPage) * maxPage + 1}, end=(${(reverseAuctionDtoList.totalPages == 0) ? 1 : (start + (maxPage - 1) < reverseAuctionDtoList.totalPages ? start + (maxPage - 1) : reverseAuctionDtoList.totalPages)})" >
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${reverseAuctionDtoList.first}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${reverseAuctionDtoList.number - 1} + ')'" aria-label='Previous' class="page-link">
                            <span aria-hidden='true'>Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${reverseAuctionDtoList.number eq page-1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:classappend="${reverseAuctionDtoList.last}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${reverseAuctionDtoList.number + 1} + ')'" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </form>
        <form th:action="@{'/admin/bids/' + ${reverseAuctionDtoList.number}}" role="form" method="get" th:object="${reverseAuctionDtoList}">
            <div class="form-inline justify-content-center" th:object="${reverseAuctionSearchDto}">
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>
    </div>

</html>