<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>faq</title>

<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">
    <div class="row" style="float: none; margin:100 auto;">
        <th:block th:replace="fragments/adminsearch"></th:block>
        <div class="col-md-9" style="float: none; margin:0 auto;" >
            <th:block th:each="FAQDtoList : ${FAQDtoList}">
                <div style="margin-top:10px;">
                    <h5 style="color:green;">Q</h5><p  th:text="${FAQDtoList.question}"></p>
                    <h5 style="color:green;">A</h5><p th:text="${FAQDtoList.answer}"></p>
                    <hr>
                </div>
            </th:block>
        </div>
    </div>
</div>


